.container {
    display: flex;
}

.left-column {
    /*flex: 1;*/
    /*width: 17%;*/
    /*max-width: 200px;*/
    width: 150px;
    background-color: #f0f0f0;
    position: fixed;
    top: 0;
    left:0;
    height: 100vh;
    z-index: -1;
}

.middle-column {
    /*position: relative;*/


    /*flex: 2;*/
    /*min-width: 500px;*/
    /*max-width: 900px;*/
    margin-left: 150px;
    width: 60%;
    background-color: #d3d3d3;
}

.right-column {
    /*position: relative;*/


    /*flex: 2;*/
    /*min-width: 330px;*/
    width: 40%;
    background-color: #c0c0c0;
}

.left-column,
.middle-column,
.right-column {
    box-sizing: border-box;
    padding: 10px;
}

.booking-control-container {
    height: 150px;
    background-color: #b2b2b2;
}

.search-input-button-container {
    display: flex;
    justify-content: space-between;
}

.nav-unit {
    cursor: pointer;
    border: none;
    background-color: #f3adad;
}