@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;900&display=swap');


body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

h1 {
  font-weight: 900;
  font-size: 32px;
  margin-top: 15px;
  margin-bottom: 10px;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 5px;
}
